* {
    color: white;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #0a0a0b;
}

ul {
    padding: 0;
}

li {
    text-decoration: none;
    list-style: none;
}

/* NavBar */

.contact-button button {
    color: black;
    background-color: #fbe850;
}

header {
    width: 100%;
}

nav {
    width: 1055px;
    height: 125px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li {
    margin-right: 40px;
    font-size: 1.1em;
    color: #989898;
}

.contact-button button{
    border: none;
    padding: 17px 40px;
    font-size: 1em;
    border-radius: 5px;
}

nav .logo p {
    font-size: 1.1em;
    font-weight: 100;
}

/* Hero */
section.hero {
    width: 100%;
}

.hero-container {
   width: 1055px; 
   margin: 30px auto;
}

.hero-container h1 {
    font-size: 60px;
    width: 700px;
    font-weight: 200;
}

.hero-container h2 {
    font-weight: 100;
    color: dimgray;
    font-size: 19px;
    width: 620px;
    margin-top: 10px;
}

section.logos {
    width: 100%;
    margin-top: 70px;
}

.logos .container {
    width: 1055px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* Content */
section.content {
    margin: 70px 0;
    width: 100%;
}

section.content .container {
    width: 1055px;
    margin: 0 auto;
    display: flex;
    gap: 75px;
}

.block-1, .block-2 {
    width: 100%;
}

.container .block-1 img, .block-2 img {
    width: 100%;
    height: auto;
}

.container .text h1 {
    font-size: 40px;
    font-weight: 100;
    margin-top: 20px;
}

.container .text p {
    font-size: 19px;
    font-weight: 100;
    color: dimgray;
    margin-top: 15px;
}

/* Content */
section#experience {
    background-color: #2e3038;
}

#experience {
    padding: 70px;
}

#experience .block-1 h1{
    font-size: 40px;
    font-weight: 100;
    font-size: 40px;
    margin: 0
}

#experience p {
    font-size: 19px;
    font-weight: 100;
    color: dimgray;
    margin-top: 15px;
}

#experience .block-2 p:nth-child(1) {
    margin-top: 5px;
}

/* Content 2 */
.container-single {
    width: 1055px;
    margin: 0 auto;
}

.text-container {
    width: 50%;
}
.container-single h1 {
    font-size: 40px;
    font-weight: 100;
    font-size: 40px;
}

.container-single p{
    font-size: 20px;
    font-weight: 100;
    color: dimgray;
    margin-top: 15px;
}

.text-container button {
    color: black;
    background-color: #fbe850;
    border: none;
    padding: 17px 40px;
    font-size: 1em;
    border-radius: 5px;
    margin-top: 25px;
}

/* Footer */
footer {
    width: 100%;
    background: #2e3038;
}

footer .container {
    width: 1055px;
    margin: 0 auto;
    display: flex;
    padding: 25px 0;
    justify-content: space-between;
    align-items: center;
}

footer .container p {
    font-size: 20px;
    font-weight: 100;
}

footer .social a {
    margin-left: 10px;
}