* {
    color: white;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #0a0a0b;
}

ul {
    padding: 0;
}

li {
    text-decoration: none;
    list-style: none;
}

/* NavBar */

.contact-button button {
    color: black;
    background-color: #fbe850    ;
}

header {
    width: 100%;
}

nav {
    width: 1055px;
    height: 125px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li {
    margin-right: 40px;
    font-size: 1.1em;
    color: #989898;
}

.contact-button button{
    border: none;
    padding: 17px 40px;
    font-size: 1em;
    border-radius: 5px;
}

nav .logo p {
    font-size: 1.1em;
    font-weight: 100;
}

/* Hero */
section.hero {
    width: 100%;
}

.hero-container {
   width: 1055px; 
   margin: 30px auto;
}

.hero-container h1 {
    font-size: 60px;
    width: 700px;
    font-weight: 200;
}

.hero-container h2 {
    font-weight: 100;
    color: dimgray;
    font-size: 20px;
    width: 620px;
    margin-top: 10px;
}

section.logos {
    width: 100%;
    margin-top: 70px;
}

.logos .container {
    width: 1055px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* Content */
section.content {
    margin-top: 70px;
    width: 100%;
}

section.content .container {
    width: 1055px;
    margin: 0 auto;
    display: flex;
    gap: 75px;
}


.container img {
    max-width: 490px;
}